.facts {
  background-color: $morningGlory;
  .facts__wrapper {
    padding: 80px 0;
    border-right: 1px solid $white;
    span {
      font: {
        size: 72px;
        weight: $font700;
        family: $montFont;
      }
    }
    p {
      font: {
        size: 14px;
        weight: $font400;
        family: $montFont;
      }
    }
  }
  .facts__wrapper:first-child {
    border-left: 1px solid $white;
  }
  @media (max-width: 576px) {
    .facts__wrapper {
      border: none;
      border-bottom: 1px solid $white;
    }
    .facts__wrapper:first-child {
      border: none;
      border-bottom: 1px solid $white;
    }
  }
}
