header {
  height: 800px;
  background: linear-gradient(
      rgba(219, 116, 117, 0.6),
      rgba(228, 205, 125, 0.75)
    ),
    url(./assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .main-header__content {
    p {
      font: {
        size: 72px;
        weight: $font400;
        family: $kaushanFont;
      }
      text-align: center;
    }
    h2 {
      font: {
        size: 150px;
        weight: $font700;
        family: $montFont;
      }
      line-height: 140px;
    }
    h2::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: $white;
      margin: 0 auto;
      margin-top: 50px;
    }
    a {
      font: {
        size: 14px;
        weight: $font700;
        family: $montFont;
      }
      margin-top: 30px;
      border: 3px solid $white;
      border-radius: 0;
    }
  }
  .main-header__carousel {
    margin-top: 100px;
  }
  .carousel-text {
    margin: 0 15%;
    div {
      margin: 0 3px;
    }
    span {
      font: {
        size: 24px;
        weight: $font700;
        family: $montFont;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
    }
  }
  @media (max-width: 992px) {
    .main-header__content {
      p {
        font-size: 42px;
      }
      h2 {
        font-size: 120px;
      }
    }
  }
  @media (max-width: 992px) {
    .main-header__content {
      p {
        font-size: 22px;
      }
      h2 {
        font-size: 50px;
      }
    }
  }
  @media (max-width: 576px) {
    .carousel-text {
      div {
        flex-direction: column;
        text-align: center;
      }
      span {
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
