.map {
  padding: 60px 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(./assets/images/Layer59.png) no-repeat 50% 50%;
  background-size: cover;
  div {
    color: $froly;
    font-size: 24px;
    i {
      font-size: 32px;
    }

    h3 {
      margin: 15px 0;
      font: {
        weight: $font700;
        font-family: $montFont;
      }
    }
    &::after {
      content: "";
      margin: 0 auto;
      display: block;
      width: 60px;
      height: 3px;
      background-color: $froly;
    }
  }
}
