$sectionPadding: 100px 0;
$font300: 300;
$font400: 400;
$font700: 700;
$montFont: "Montserrat";
$sweetCorn: #fce38a;
$dustyGray: #999999;
$robotoFont: "Roboto";
$kaushanFont: "Kaushan Script";
$white: #ffffff;
$morningGlory: #95e1d3;
$mercury: #e5e5e5;
$mineShaft: #333333;
$froly: #f38181;
$silver: #cccccc;
$alabaster: #f8f8f8;
